<!-- DOCTYPE html>

<html>
<head>
    <title>PiC-MAP - Create New User</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #header {
            text-align: center;
            margin-top: 100px;
            font-size: 200%;
            font-family: arial;
        }

        #content {
            text-align: center;
            margin-top: 50px;
            font-size: 100%;
            font-family: arial;
        }
    </style>
</head>
<body>
    <div id="header">
        <h1>Welcome to PiC-MAP!</h1>
    </div>
    <div id="content">
        <img src="../img/favicon.png" alt="logo" width="200" height="200">
        <h2>Please enter your desired username and password to create your account.</h2>
        <form action="createNewUser/submit" method="post" id="create-new-user-form">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Create</button>
        </form>
        <br><br><br>
        <h3>Already have an account?  Click the link below to sign in.</h3>
        <form action="createNewUser/login" method="post">
            <button type="submit">Sign in</button>
        </form>
    </div>
</body>
</html-->