<!DOCTYPE html>
<html>
    <head>
        <title>PiC-MAP Issues</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <style>
     /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }

    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }

    .form-container input[type=date], .form-container input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }

    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
    </style>
    <body>
        <div id="header" class="header"></div>
        <div style="text-align: center"><br><br><button onclick="openCreateIssueForm()" style="display: inline-block;">Create a new Issue</button></div>
        <div style="clear: both;"></div><br><br>
        <div id="issue1" class="project__issue"><h3 style="color: white; text-align:center;">To-Do</h3></div>
        <div id="issue2" class="project__issue"><h3 style="color: white; text-align:center;">Doing</h3></div>
        <div id="issue3" class="project__issue"><h3 style="color: white; text-align:center;">Done</h3></div>
        
        <div class="form-popup" id="createIssue">
            <form class="form-container" id="createIssueForm" name="createIssueForm">
                <h1>Create a new Issue</h1>
                <label><b>Name</b></label>
                <input type="text" name="IssueName" placeholder="Issue Name" pattern="[^'\x22]+" title = "Please do not enter any single or double quotes" required autocomplete="off">
                <label><b>Description</b></label>
                <input type="text" name="IssueDesc" placeholder="Issue Description" pattern="[^'\x22]+" title = "Please do not enter any single or double quotes" required autocomplete="off">
                <label><b>Assign issue to user</b></label>
                <br></b><p id="usersCreateIssue"></p><br>
                <label><b>Assign status of Issue</b></label><br>
                <div id="IssueCat">
                    <input type="radio" id="r1" name="cat" value="1" required>To-Do  
                    <input type="radio" id="r2" name="cat" value="2">Doing  
                    <input type="radio" id="r3" name="cat" value="3">Done  
                </div><br>
                <label><b>Due date</b></label>
                <input type="date" name="DueDate" id="createDueDate" required autocomplete="off"><br>
                <input type="hidden" id="createProject_ID" name="Project_ID" autocomplete="off"/>
                <button class="btn" type="submit">Create Issue</button>
                <button class="btn cancel" onclick="closeCreateIssueForm()" type="reset">Cancel</button>
            </form>
        </div>

        <div class="form-popup" id="editIssue">
            <form class="form-container" id="editIssueForm" name="editIssueForm">
                <h1>Edit a Issue</h1>
                <label><b>Name</b></label>
                <input type="text" name="IssueName" placeholder="Issue Name" pattern="[^'\x22]+" title = "Please do not enter any single or double quotes" required autocomplete="off">
                <label><b>Description</b></label>
                <input type="text" name="IssueDesc" placeholder="Issue Description" pattern="[^'\x22]+" title = "Please do not enter any single or double quotes" required autocomplete="off">
                <label><b>Assign issue to user</b></label>
                <br></b><p id="usersEditIssue"></p><br>
                <label><b>Assign status of Issue</b></label><br>
                <div id="IssueCat">
                    <input type="radio" id="r4" name="cat" value="1" required>To-Do  
                    <input type="radio" id="r5" name="cat" value="2">Doing  
                    <input type="radio" id="r6" name="cat" value="3">Done  
                </div><br>
                <label><b>Due date</b></label>
                <input type="date" name="DueDate" id="editDueDate" required autocomplete="off"><br>
                <input type="hidden" id="editProject_ID" name="Project_ID" autocomplete="off"/>
                <input type="hidden" id="editIssue_ID" name="Issue_ID" autocomplete="off"/>
                <button class="btn" type="submit">Update Issue</button>
                <button class="btn cancel" onclick="closeEditIssueForm()" type="reset">Cancel</button>
            </form>
        </div>

        <div class="form-popup" id="deleteIssue">
            <form class="form-container" id="deleteIssueForm" name="deleteIssueForm">
                <h1>Delete a Issue</h1>
                <label><b>Are you sure you wish to delete this issue?</b></label>
                <label><b>This can not be undone once deleted.</b></label>
                <input type="hidden" id="deleteProject_ID" name="Project_ID" autocomplete="off"/>
                <input type="hidden" id="deleteIssue_ID" name="Issue_ID" autocomplete="off"/>
                <button class="btn" type="submit">Delete</button>
                <button class="btn cancel" onclick="closeDeleteIssueForm()" type="reset">Cancel</button>
            </form>
        </div>

        <script>
            function openCreateIssueForm() {
                document.getElementById("createIssue").style.display = "block";
                document.getElementById("createProject_ID").value = Project_ID;
            }
                
            function closeCreateIssueForm() {
                document.getElementById("createIssue").style.display = "none";
                document.getElementById("createIssueForm").reset();
            }

            function openEditIssueForm(Issue_ID) {
                document.getElementById("editIssue").style.display = "block";
                document.getElementById("editProject_ID").value = Project_ID;
                document.getElementById("editIssue_ID").value = Issue_ID;
            }

            function closeEditIssueForm() {
                document.getElementById("editIssue").style.display = "none";
                document.getElementById("editIssueForm").reset();
            }

            function openDeleteIssueForm(Issue_ID) {
                document.getElementById("deleteIssue").style.display = "block";
                document.getElementById("deleteProject_ID").value = Project_ID;
                document.getElementById("deleteIssue_ID").value = Issue_ID;
            }

            function closeDeleteIssueForm() {
                document.getElementById("deleteIssue").style.display = "none";
                document.getElementById("deleteIssueForm").reset();
            }
        </script>

        <script id="header-template" type="text/html">
            <h1 style="text-align:center;">{{ProjectName}}</h1>
            <h1 style="text-align:right;">{{username}}</h1>
            <form action="/logout" method="post" style="display: inline-block; float:right; padding: 4px;">
                <button class"button" type="submit">Log Out</button>
            </form>
            <form action="/ProjectHomePage" id="backToProjectHomePage" method="get" style="display: inline-block; float:left; padding: 4px;">
                <button class"button" type="submit">Return to Project Home Page</button>
                <input type="hidden" id="usernameVP" name="usernameVP" value="{{username}}" required />
                <input type="hidden" id="useridVP" name="useridVP" value="{{userid}}" required />
                <input type="hidden" id="projectidVP" name="projectidVP" value="{{projectidVP}}" required />
                <input type="hidden" id="projectNameVP" name="projectNameVP" value="{{projectNameVP}}" required />
                <input type="hidden" id="chatname" name="chatname" value="{{chatname}}" required>
                <input type="hidden" id="chatid" name="chatid" value="{{chatid}}" required>
                
            </form><br><br>
            <div style="clear: both;"></div>
        </script>

        <script id="issue1-template" type="text/html">
            <h3 style="color: white; text-align:center;">To-Do</h3>
            {{#issues1}}
                <div class="issue"><p>
                    <button onclick=openEditIssueForm({{Issue_ID}}) style="display: inline; float:right; padding: 4px;" type="button">Edit</button>
                    <button onclick=openDeleteIssueForm({{Issue_ID2}}) style="display: inline; float:left; padding: 4px;" type="button">Delete</button>
                    <h2><br><br>{{IssueName}}</h2><br>
                    <br>{{IssueDesc}}<br>
                    <br>{{IssueUsers}}
                    <br>{{DueDate}}<br><br>
                    
                </p></div>
            {{/issues1}}
        </script>

        <script id="issue2-template" type="text/html">
            <h3 style="color: white; text-align:center;">Doing</h3>
            {{#issues2}}
                <div class="issue"><p>
                    <button onclick=openEditIssueForm({{Issue_ID}}) style="display: inline; float:right; padding: 4px;" type="button">Edit</button>
                    <button onclick=openDeleteIssueForm({{Issue_ID2}}) style="display: inline; float:left; padding: 4px;" type="button">Delete</button>
                    <h2><br><br>{{IssueName}}</h2><br>
                    <br>{{IssueDesc}}<br>
                    <br>{{IssueUsers}}
                    <br>{{DueDate}}<br><br>
                    
                </p></div>
            {{/issues2}}
        </script>

        <script id="issue3-template" type="text/html">
            <h3 style="color: white; text-align:center;">Done</h3>
            {{#issues3}}
                <div class="issue"><p>
                    <button onclick=openEditIssueForm({{Issue_ID}}) style="display: inline; float:right; padding: 4px;" type="button">Edit</button>
                    <button onclick=openDeleteIssueForm({{Issue_ID2}}) style="display: inline; float:left; padding: 4px;" type="button">Delete</button>
                    <h2><br><br>{{IssueName}}</h2><br>
                    <br>{{IssueDesc}}<br>
                    <br>{{IssueUsers}}
                    <br>{{DueDate}}<br><br>
                    
                </p></div>
            {{/issues3}}
        </script>

        <script id="userscreateissue-template" type="text/html">
            {{#userNamesIds}}
                <input type="checkbox" value={{ID}}>{{Name}}</option><br>
            {{/userNamesIds}}
        </script>

        <script id="userseditissue-template" type="text/html">
            {{#userNamesIds}}
                <input type="checkbox" value={{ID}}>{{Name}}</option><br>
            {{/userNamesIds}}
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/Issues.js"></script>
    </body>
</html>