<! DOCTYPE html>

<html>
    <head>
        <title>PiC-MAP Chat App</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        Login
        <form id="login-form">
            <input name="username" placeholder="username">
            <input name="password" placeholder="password">
            <button type="submit">Sign In</button>
        </form>

        <form id="create-login-form">
            <input name="username" placeholder="username">
            <input name="password" placeholder="password">
            <button>Create New Account</button>
        </form>

        <script src="/js/login.js"></script>
        <script src="/src/index.js"></script>
    </body>
</html>