<! DOCTYPE html>

<html>
<head>
    <title>PiC-MAP - Login</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #header {
            text-align: center;
            margin-top: 100px;
            font-size: 200%;
            font-family: arial;
        }

        #content {
            text-align: center;
            margin-top: 50px;
            font-size: 100%;
            font-family: arial;
        }
    </style>
</head>

<body>
    <div id="header">
        <h1>Welcome to PiC-MAP!</h1>
    </div>
    <div id="content">
        <img src="../img/favicon.png" alt="logo" width="200" height="200">
        <h2>Please enter your username and password to sign in.</h2>
        <form action="loginPage/submit" method="post" id="login-form">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Sign In</button>
        </form>
        <h3>New? Click the button below to create an account.</h3>
        <form action="loginPage/createNewUser" method="post">
            <button type="submit">Create new account</button>
        </form>
    </div>
</body>
</html>