<! DOCTYPE html>

<html>
    <head>
        <title>PiC-MAP Login</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        Login
        <form action ="loginPage/submit" method="post" id="login-form">
            <input type="text" name="username" placeholder="username">
            <input type="text" name="password" placeholder="password">
            <button type="submit">Sign In</button>
        </form>

        <form id="create-login-form">
            <input name="username" placeholder="username">
            <input name="password" placeholder="password">
            <button>Create New Account</button>
        </form>

        <!--<script src="/js/login.js"></script> -->
    </body>
</html>