<html>

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div>

        <br/>
        <form class="form-horizontal" role="form" style="width: 50%;" action="/projectform-submitted" method="POST">
            <div class="form-group">
                <label for="project" class="col-sm-2 control-label">Project Name :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="project" name="project" placeholder="MET CS Agile" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="projectDetails" class="col-sm-2 control-label">Project Details : </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="projectDetails" name="projectDetails" placeholder="to learn agile methodology"
                        value="">
                </div>
            </div>
            <div class="form-group">
                <label for="projectStatus" class="col-sm-2 control-label">Project Status : </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="projectStatus" rows="4" name="projectStatus" placeholder="Active or Inactive"></input>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input onclick="window.location = 'https://picmapmanager.herokuapp.com/'" id="submit" name="submit" type="submit" value="Send"
                        class="btn btn-primary">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <! Will be used to display an alert to the user>
                </div>
            </div>
        </form>
    </div>
</body>

</html>