<html>

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="icon" href="/img/favicon.png">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js">
    </script>
</head>

<body>
    <div>

        <br />
        <form class="form-horizontal" role="form" style="width: 50%;" action="/taskToolform-submitted" method="POST">
            <div class="form-group">
                <label for="taskTool" class="col-sm-2 control-label">Task Tool Name: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="taskTool" name="taskTool" placeholder="define taskTool"
                           value="" required>
                </div>
            </div>


            <div class="form-group">
                <label for="projectID" class="col-sm-2 control-label">Project Id :</label>
                <div class="col-sm-10">
                    <input type="integer" class="form-control" id="projectID" name="projectID" placeholder="1" value=""
                           required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input onclick="" id="submit" name="submit" type="submit" value="Create" class="btn btn-primary">
                    <input onclick="" id="Update" name="update" type="submit" value="Update" class="btn btn-primary">
                    <input onclick="" id="delete" name="delete" type="submit" value="Delete" class="btn btn-primary">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <! Will be used to display an alert to the user>
                </div>
            </div>
        </form>
    </div>
    <form action="backToProjectHomePage" method="post">
        <button type="submit">Return to project homepage</button>
    </form>
</body>

</html>