/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

input {
    font-size: 12px;
}

body {
    line-height: 1.2;
    color: #001f3f;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
}

h1 {
    margin-bottom: 4px;
}

label {
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
    color: #39cccc;
}

input {
    border: 1px solid #001f3f;
    padding: 4px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 4px;
    background: #555;
    border: 1px;
    color: #ffffff;
    font-size: 12px;
    transition: background .3s ease;
}

button:hover {
    background: #3d9970;
}

button:disabled {
    cursor: default;
    background: #3d9970;
}

.header {
    display: inline;
}

/* Join Page Styles */

.centered-form {
    background: #001f3f;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #001f3f;
    background: #F7F7FA;
    padding: 4px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 12px;
    width: 100%;
}





/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: #ffffff;
    background: #001f3f;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 4px 4px 0 4px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 4px;   
}

.message__name {
    font-weight: 600;
    font-size: 12px;
    margin-right: 4px;
}

.message__meta {
    color: #001f3f;
    font-size: 12px;
}

.message a {
    color: #0074D9;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 4px;
    padding: 4px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 4px;
}

.compose input {
    border: 1px solid #001f3f;
    width: 100%;
    padding: 4px;
    margin: 0 4px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 12px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 12px;
    background: #39cccc;
    padding: 4px;   
}

.list-title {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 4px;
    padding: 4px 4px 0 4px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 4px 4px 0 4px;
}





/* Task Tool Stuff */



/* Task Tool Page Layout */

.tasktool__subtaskCategory {
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    text-align: center;
    justify-content: center;
}

.tasktool__subtaskCategory > div {
    background-color: #ffffff;
    margin: 8px;
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
}

.tasktool__subtask {
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    text-align: center;
    justify-content: center;
}

.tasktool__subtask > div {
    background-color: #ffffff;
    margin: 8px;
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
    max-width: 25%;
}

/* SubtaskCategory Styles */

.subtaskCategory {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.subtaskCategory a {
    color: #0074D9;
}

/* Subtask Styles */

.subtask {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.subtask a {
    color: #0074D9;
}


